.cards {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: auto;  
    grid-gap: 1rem;
    margin-left: 10%;
    font-family: 'nyt-imperial';
  }
.card {
  background-color: rgb(246, 246, 246);
  align-items: center;
  text-align: center;
}
.title {
  text-align: center;
  font-family: "Apercu Pro", Helvetica, "Helvetica Neue", Arial, sans-serif
}
.productName {
  font-family: "Apercu Pro", Helvetica, "Helvetica Neue", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: bold;
}