.topnav {
    border: 2px solid #e7e7e7;
    border-radius: 4px; 
    padding: 2rem;
    text-align: right;
    margin: 0% 7% 0% 10%;
    background-color: rgb(253, 244, 253);;
    }
  
    .elements {
    border-radius: 4px; 
    padding: .5rem;
    font-size: 20px;
    color: black;
    font-family: 'nyt-cheltenham';
    font-weight: bold;
    }
  
    .navbarLogo {
      width: 16%;
      height: 14%;
      float: left;
      margin-top: -8%
    }
    .lowernav {
      border-radius: 2px; 
      padding: 1rem;
      text-align: right;
      margin: 0% 7% 0% 10%;
      text-align: center;
      margin-right: 24%;
    }